extends ../layouts/common

block content
  div(class="mt-4 ml-4")
    h3 Thêm Sách

    form(action="/books/create", method="POST",class="mt-4")
        label(for="name",class="mr-4") Name
        input(name="name", type="text", value=values ? values.name : "",class="mr-4")
        label(for="title",class="mr-4") Title
        input(name="title", type="text", value=values ? values.title : "")
        br
        button.btn.btn-info.mt-4 Create