extends ../layouts/common

block content
  h3 Thêm Sách

  form(action="/books/create", method="POST")
      label(for="name") Name
      input(name="name", type="text", value=values ? values.name : "")

      label(for="title") Phone
      input(name="title", type="text", value=values ? values.title : "")

      button.btn.btn-primary Create