html
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet" , href="/public/custom.css")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-success
      a.navbar-brand(href='#') CodersX
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/users') Trang Chủ
          li.nav-item
            a.nav-link(href='/users') Người Dùng
          li.nav-item
            a.nav-link(href='/books') Sách
          li.nav-item
            a.nav-link(href='/products') Sản phẩm
          li.nav-item
            a.nav-link(href='/transactions') Mượn sách
          li.nav-item
            a.nav-link(href='/auth/login') Login
    block content