extends ../layouts/common

block content
  div(class="mt-5 ml-5")
    h3 Thêm người dùng

    if errors
      each error in errors
        .alert.alert-danger= error

    form(action="/users/create", method="POST" , enctype="multipart/form-data")
        label(for="name",class="mr-4") Name 
        input(name="name", type="text", value=values ? values.name : "")
        hr
        label(for="phone",class="mr-4") Phone
        input(name="phone", type="text", value=values ? values.phone : "")
        hr
        label(for="avatar") Avatar
        input#avatar.form-control-file(name="avatar", type="file")
        hr

        button.btn.btn-info Create