extends ../layouts/common

block content
  h3.mt-5
    span.mr-3 Danh sách người dùng
    a.btn.btn-info(href="/users/create") Thêm người dùng

  .d-flex.align-items-center
    form.ml-auto(action="/users/search", method="GET", class="d-flex")
      input(type="text", name="q", class="form-control")
      button(class="btn btn-info ml-2") Search

  table.table
    tr
      th Avatar
      th Name
      th Phone

    each user in users
      tr
        td
          img(src=user.avatar, width="32")
        td= user.name
        td= user.phone
        td
          .btn.btn-light.mr-10
                a(href="/users/" + user.id + "/delete") xóa người đọc