extends ../layouts/common
block content
    h1 Mượn sách

    form(action="/transactions/create", method="POST")
      select(name="bookRecieve")
        each book in dataBook
         option(value=book.title)= book.title
      hr
      select(name="userRecieve")
        each user in dataUser
         option(value=user.name)= user.name
      div(class="mt-1")
       button(class="btn btn-warning mt-5") Add