extends ../layouts/common
block content
    h3.mt-4 Mượn sách

    form(action="/transactions/create", method="POST",class="mt-4")
      select(name="bookRecieve",class="mr-4")
        each book in dataBook
         option(value=book.title)= book.title
      select(name="userRecieve")
        each user in dataUser
         option(value=user.name)= user.name
      div(class="mt-4")
       button(class="btn btn-info mt-5") Add